# Eda
Lets do some EDA for feature understanding

In [3]:
import pandas as pd

train = pd.read_csv("data/loan_train.csv")
train.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,42788,21,102000,MORTGAGE,5.0,EDUCATION,A,10000,7.51,0.10,N,4,0
1,11553,23,49000,RENT,1.0,HOMEIMPROVEMENT,D,5000,13.17,0.10,Y,4,1
2,27481,23,30000,RENT,1.0,MEDICAL,B,10000,11.99,0.33,N,4,1
3,39841,32,95000,MORTGAGE,9.0,HOMEIMPROVEMENT,C,15000,12.84,0.16,Y,5,0
4,55662,31,32000,MORTGAGE,3.0,HOMEIMPROVEMENT,A,1200,7.68,0.04,N,10,0

Сразу заметим несколько категориальный фичей: 
- person_home_ownership (тип владения дома: ипотека, аренда, проч)
- loan_intent (намерение, цель кредита)
- loan_grade (оценка кредита? типо риск или чего, хз. Кажется можно перевести в число)
- cb_person_default_on_file (пока не ясно, мб бинарная фича)

In [7]:
cat_features = [ 
    "person_home_ownership", 
    "loan_intent", 
    "loan_grade", 
    "cb_person_default_on_file"
    ]
num_features = [
    "person_age",
    "person_income",
    "person_emp_length",
    "loan_amnt",
    "loan_int_rate",
    "loan_percent_income",
    "cb_person_cred_hist_length"
]
target = train.loc[:,"loan_status"]
target[:5]

0    0
1    1
2    1
3    0
4    0
Name: loan_status, dtype: int64

In [12]:
for a in cat_features:
    print(a.upper())

PERSON_HOME_OWNERSHIP
LOAN_INTENT
LOAN_GRADE
CB_PERSON_DEFAULT_ON_FILE

In [9]:
for col in cat_features:
    print(train.loc[:, col].value_counts())
    print()

person_home_ownership
RENT        27533
MORTGAGE    22355
OWN          2809
OTHER          83
Name: count, dtype: int64

loan_intent
EDUCATION            11053
MEDICAL               9841
VENTURE               9027
PERSONAL              8993
DEBTCONSOLIDATION     8177
HOMEIMPROVEMENT       5689
Name: count, dtype: int64

loan_grade
A    18901
B    18296
C     9973
D     4535
E      909
F      137
G       29
Name: count, dtype: int64

cb_person_default_on_file
N    44905
Y     7875
Name: count, dtype: int64

In [11]:
train.isna().astype(int).sum()

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

In [13]:
len(train)

52780

In [14]:
train.describe()

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status
count,52780.000000,52780.000000,5.278000e+04,52780.000000,52780.000000,52780.000000,52780.000000,52780.000000,52780.000000
mean,29323.588291,27.554926,6.396906e+04,4.696192,9210.809530,10.678262,0.159226,5.815517,0.142383
std,16936.066613,6.046298,3.611165e+04,3.966526,5560.086455,3.038162,0.091758,4.037774,0.349446
min,0.000000,20.000000,4.200000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,0.000000
25%,14669.750000,23.000000,4.200000e+04,2.000000,5000.000000,7.880000,0.090000,3.000000,0.000000
50%,29322.000000,26.000000,5.800000e+04,4.000000,8000.000000,10.750000,0.140000,4.000000,0.000000
75%,44002.250000,30.000000,7.540000e+04,7.000000,12000.000000,12.990000,0.210000,8.000000,0.000000
max,58644.000000,123.000000,1.200000e+06,123.000000,35000.000000,23.220000,0.830000,30.000000,1.000000

In [17]:
from torch.nn import BCEWithLogitsLoss, BCELoss

f = BCEWithLogitsLoss()
str(f)

'BCEWithLogitsLoss()'